.my-btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px 0;
    /*font-size: 14px;*/
    line-height: 1.42;
    border-radius: 15px;
    background-color:orangered;
}